/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

@font-face {
    font-family: 'IRANSansWeb';
    font-style: normal;
    font-weight: normal;
    src: url('../../public/fonts/IRANSansXNoEn-Black.ttf') format('ttf');
}


body , p, h1, h2, h3 ,h4 , h5 , h6,input,a{
    font-family: 'IRANSansWeb' !important;
    margin: 0px;
    padding: 0px;
}